html,
body{
  height: 100%;
}

header,
header a{
  background-color: #599;
  color: #fff;
}
header a:hover{
  text-decoration: none;
  color: lightblue;
}

ul{
  list-style: none;
}

.app-name,
.login-btn{
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.content{
  padding-top: 1em;
  background-color: #dedede;
  min-height: 93%;
}

.categories{
  min-height: 100%;
  box-shadow: 2px 0 #5553;
  font-size: 1.2em;
}

.item-list{
  font-size: 1.2em;
}

footer{
  height: 7%;
  font-size: 1.2em;
  padding-top: 0.5em;
  background-color: #9aa;
}
