html,
body{
  height: 100%;
}

header,
header a{
  background-color: #599;
  color: #fff;
}
header a:hover{
  text-decoration: none;
  color: lightblue;
}

header h1{
  font-family: 'Lobster', cursive;
}

ul{
  list-style: none;
}

input,
textarea{
  border: solid;
  border-width: thin;
  border-radius: 0.3em;
  background-color: #efe;
}

.app-name,
.login-btn{
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.content{
  padding-top: 1em;
  background-color: #dedede;
  min-height: 93%;
}

.categories{
  min-height: 100%;
  box-shadow: 2px 0 #5553;
  font-size: 1.2em;
}

.category{
  margin-top: 3em;
}

.modal-header{
  background-color: #efe;
}

.buttons{
  background-color: #ced;
}

.edit-item-form,
.new-item-form{
  margin: 3em;
  background-color: #cdd;
  border-radius: 0.5em;
}

.item-details{
  background-color: #7ba;
  border-radius: 0.5em;
  color: #321;
  padding: 3em;
  font-size: 1.5em;
}

.item-page{
  margin: 3em;
}

.item-page-links{
  margin-left: 3em;
  margin-right: 3em;
}

.item-list{
  font-size: 1.2em;
}

.edit-item label,
.edit-item input,
.edit-item textarea,
.add-item label,
.add-item input,
.add-item textarea{
  display: block;
}

.new-item-form{
  padding: 1em;
}

.login-page{
  padding-top: 5%;
}

.login-heading{
  margin-top: 5%;
  font-family: 'Lobster', cursive;
}

.flash{
  color: #699;
  text-align: center;
}

footer{
  height: 7%;
  font-size: 1.2em;
  padding-top: 0.5em;
  background-color: #9aa;
}

@media screen and (max-width: 500px){
  .item-page{
    margin: 0;
  }
  .item-details{
    font-size: 1em;
  }

  .categories,
  .item-list{
    font-size: 1em;
    box-shadow: 1px 0 #5553;
    padding: 1em;
  }

  .edit-item-form,
  .new-item-form{
    margin: 1em;
  }

  .catalog{
    padding: 2em;
    padding-top: 1em;
  }

}
