{% include 'header.html' %}
<div class="row catalog">
  <div class="categories col-md-4">
    <h2>Categories</h2>
    {% if categories %}
    <ul>
    {% for cat in categories %}
    <li><a href="{{url_for('category', category=cat.name)}}">{{cat.name}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="item-list col-md-8">
    {% if isLoggedIn %}
    <div class="add-item-link">
      <a href="{{url_for('add_item')}}">Add Item</a>
    </div>
    {% endif %}
    {% if not category %}
    <h2>Latest Items</h2>
    {% else %}
    <h2>{{category.name | capitalize}}</h2>
    {% endif %}
    {% if items %}
    <ul>
    {% for item in items %}
    <li>
      <div class="item">
          {% for cat in categories %}
          {% if cat.id == item.category_id %}
          <a href="{{url_for('item', category=cat.name,item=item.name)}}">
            {{item.name}}
          </a>
          {%endif%}
        {#
          If this template has been loaded from the 'catalog' route,
          then the latest items should be displayed, rather than Items
          specific to a category. In this case, the name of the category
          the item is within should be displayed beside the item name in
          parentheses.
        #}
          {% if not category %}
          {% if cat.id == item.category_id %}
          <em>({{cat.name}})</em>
          {% endif %}
          {% endif %}
          {% endfor %}
      </div>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    {#
      Feedback in case there no items in the selected category,
      or there are no items at all.
    #}
    <div class="no-items">
      {%if category %}
      <span>No items in this category</span>
      {# If user has added a category and it has no items yet,
        they can delete it here.
      #}
      {% if isOwner %}
      <div class="delete-category">
        <form action="{{url_for('delete_category')}}" method="POST">
          <input type="hidden" name="id" value="{{category.id}}">
          <input class="btn btn-warning btn-sm" type="submit" value="Delete this category"/>
        </form>
      </div>
      {% endif %}
      {%else%}
      <span>No items yet</span>
      {%endif%}
    </div>
    {% endif %}
  </div>
</div>

{% include 'footer.html' %}
