{% include 'header.html' %}
<div class="row">
  <div class="categories col-md-4">
    <h2>Cateogories</h2>
    {% if categories %}
    <ul>
    {% for cat in categories %}
    <li><a href="{{url_for('category', category=cat.name)}}">{{cat.name}}</a></li>
    {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class="latest-items col-md-8">
    <h2>Latest Items</h2>
    {% if items %}
    <ul>
    {% for item in items %}
    <li>
      <div class="item">
          <a href='#'>{{item.name}}</a>
        <!--
          If this template has been loaded from the 'catalog' route,
          then the latest items should be displayed, rather than Items
          specific to a category. In this case, the name of the category
          the item is within should be displayed beside the item name in
          parentheses.
        -->
          {% if not category %}
          {% for cat in categories %}
          {% if cat.id == item.category_id %}
          <em>({{cat.name}})</em>
          {%endif%}
          {%endfor%}
          {% endif %}
      </div>
    </li>
    {% endfor %}
    </ul>
    {% else %}
    <!--
      Feedback in case there no items in the selected category,
      or there are no items at all.
    -->
    <div class="no-items">
      {%if category %}
      <span>No items in this category</span>
      {%else%}
      <span>No items yet</span>
      {%endif%}
    </div>
    {% endif %}
  </div>
</div>

{% include 'footer.html' %}
