<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalog App</title>
  <link rel='stylesheet' href="{{url_for('static', filename='css/style.css')}}">
  <link rel='stylesheet' href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel='stylesheet' href="{{url_for('static', filename='css/bootstrap-grid.min.css')}}">
  <link rel='stylesheet' href="{{url_for('static', filename='css/bootstrap-reboot.min.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Roboto" rel="stylesheet">
  <!-- <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  {% if isLoginPage %}
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

  <script src="//apis.google.com/js/platform.js?onload=start">
  </script>

  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  {% endif %}
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md app-name">
          <h1><a href="{{url_for('catalog')}}">Catalog App</a></h1>
        </div>
        {% if not isLoginPage %}
        <div class="login-btn col-md text-right">
          {% if isLoggedIn %}
          <a href="{{url_for('logout')}}" class="btn btn-info" name="button">Logout</a> {% else %}
          <a href="{{url_for('showLogin')}}" class="btn btn-primary" name="button">Login</a> {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="container content">

    <div class='flash'>
      {% with messages = get_flashed_messages() %} {% if messages %}

      <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}

    </div>
