<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalog App</title>
  <link rel='stylesheet' href="{{url_for('static', filename='css/style.css')}}">
  <link rel='stylesheet' href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel='stylesheet' href="{{url_for('static', filename='css/bootstrap-grid.min.css')}}">
  <link rel='stylesheet' href="{{url_for('static', filename='css/bootstrap-reboot.min.css')}}">
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md app-name">
            <h1><a href="{{url_for('catalog')}}">Catalog App</a></h1>
        </div>
        <div class="login-btn col-md text-right">
          <button class="btn btn-primary" type="button" name="button">Login</button>
        </div>
      </div>
    </div>
  </header>
  <div class="container content">
