<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalog App</title>
  <link rel='stylesheet' href="{{url_for('static', filename='css/style.css')}}">
  <link rel='stylesheet' href="{{url_for('static', filename='css/bootstrap.min.css')}}">
  <link rel='stylesheet' href="{{url_for('static', filename='css/bootstrap-grid.min.css')}}">
  <link rel='stylesheet' href="{{url_for('static', filename='css/bootstrap-reboot.min.css')}}">
  <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
  {% if isLoginPage %}
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  </script>

  <script src="//apis.google.com/js/platform.js?onload=start">
  </script>

  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  {% endif %}
</head>

<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md app-name">
            <h1><a href="{{url_for('catalog')}}">Catalog App</a></h1>
        </div>
        {% if not isLoginPage %}
        <div class="login-btn col-md text-right">
          {% if isLoggedIn %}
          <a href="{{url_for('logout')}}" class="btn btn-info" name="button">Logout</a>
          {% else %}
          <a href="{{url_for('showLogin')}}" class="btn btn-primary" name="button">Login</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </header>
  <div class="container content">
