{% include 'header.html' %}
<div class="help">
  <h2>You may need some clarification on how to:</h2>

  <h3>- Login</h3>
  <p>
    You need to login so you may add your own items, which you may edit and delete later, if you want to.
    You can sign up and login using your Google or Facebook account.
  </p>
  <h3>- Add an item</h3>
  <p>
    When adding an item, you must provide a name; a description is optional. You may choose one of the categories
    from the drop list or, if you don’t see the category you want, you may add a new one.
  </p>
  <h3>- Deleting a category</h3>
  <p>
    You cannot edit a category, but if you make a mistake, you may delete it as long as no items are under it.
    To delete an “empty category”, click on it from the category list. You will see an option to delete it.
    You cannot delete a category that was added by someone else.
  </p>
</div>
{% include 'footer.html' %}
